// _navbar.scss

.jwpnavbar {
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #473f3f;
    background-color: #fcf9ee;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.3s;
   
  
    &.jwpnavbar--up {
      top: -40px;
      transition: ease 0.4s;
    }
  
    &.jwpnavbar--scrolled {
      height: 70px;
      background: #333;
    }
  }
  
  .logo {
    color: #8d7c7c;
  }
  
  .header-text {
    padding-right: 20px;
    color: #7b7070;
  }
  